# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log

# Virtual envs
.env/
.venv/
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Your game saves / scratch
saves/
*.sav
*.bak
*.bak1
.save.lock
